@charset "UTF-8";
/* CSS Document */
.section-top {
  position: relative;
  line-height: 0;
}
.section-top h1 {
  padding-top: 35%;
  font-size: 2.2rem;
  color: #fff;
  writing-mode: vertical-rl;
  text-align: start;
  left: 50%;
  position: absolute;
  letter-spacing: 5px;
  white-space: nowrap;
}
.section-top__image {
  margin: 0 auto;
  background-image: url("top-image_lunch.jpg");
  background-size: auto 100%;
  height: 300px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media(min-width:1040px) {
  .section-top {
    margin: 0 auto;
  }
  .section-top__image {
    background-size: 140%;
    height: 600px;
  }
  .section-top h1 {
    font-size: 4.8rem;
  }
}
body h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #00453d;
}
.section-lunch, .section-lunch-course {
  text-align: left;
  padding: 40px 20px 0;
  margin: 0 auto;
}
.section-lunch p, .section-lunch-course p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 30px;
}
.gallery img, .choice-btn img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.gallery {
  margin: 0 auto 5px;
}
.choice-btn {
  margin: 0 auto;
}
.slick-prev, .slick-next {
  position: absolute; /*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc; /*矢印の色*/
  border-right: 2px solid #ccc; /*矢印の色*/
  height: 25px;
  width: 25px;
}
.slick-prev { /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}
.slick-next { /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}
.choice-btn li {
  cursor: pointer;
  outline: none;
  background: #333;
  width: 25% !important;
}
.choice-btn li img {
  opacity: 0.4; /*選択されていないものは透過40%*/
}
.choice-btn li.slick-current img {
  opacity: 1; /*選択されているものは透過しない*/
}
.section-lunch__menu {
  padding: 20px 20px 0;
}
.section-lunch__option {
  padding: 0 20px 0;
}
.section-lunch__menu-content, .section-lunch-course ul li p {
  margin-bottom: 15px;
}
.section-lunch__menu-content {
  border-bottom: solid 1px #00453d;
}
.section-lunch h3, .section-lunch-course h3 {
  font-size: 1.4rem;
}
.section-lunch__menu p {
  margin: 0;
}
.section-lunch span {
  text-align: right;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
}
.slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
}
.slider img {
  width: 60vw; /*スライダー内の画像を60vwにしてレスポンシブ化*/
  height: auto;
}
.slider .slick-slide {
  transform: scale(0.8); /*左右の画像のサイズを80%に*/
  transition: all .5s; /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5; /*透過50%*/
}
.slider .slick-slide.slick-center {
  transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1; /*透過なし*/
}
/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, .slick-next {
  position: absolute; /*絶対配置にする*/
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666; /*矢印の色*/
  border-right: 2px solid #666; /*矢印の色*/
  height: 15px;
  width: 15px;
}
.slick-prev { /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}
.slick-next { /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}
/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px; /*ドットボタンのサイズ*/
  height: 12px; /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc; /*ドットボタンの色*/
  border: none;
}
.slick-dots .slick-active button {
  background: #333; /*ドットボタンの現在地表示の色*/
}
.section-lunch-course span {
  text-align: right;
  font-size: 1.6rem;
  display: block;
  padding-right: 10px;
  margin: 15px 0;
}
.section-lunch__option p {
  padding-left: 15px;
  margin-bottom: 15px;
}
.section-lunch-course td {
  font-size: 1.4rem;
}
.section-lunch-course table {
  display: block;
  padding: 20px;
}
.section-lunch-course__name {
  padding-right: 10px;
  color: #00453d;
}
@media(min-width:1040px) {
  body h2 {
    font-size: 3.2rem;
  }
  .section-lunch, .section-lunch-course {
    max-width: 1040px;
    padding: 60px 40px 0;
    font-size: 2.4rem;
    line-height: 5.4rem;
  }
  .section-lunch p, .section-lunch-course p, .section-lunch-course h3, .section-lunch-course td {
    font-size: 2rem;
    line-height: 3rem;
  }
  .section-lunch h3 {
    font-size: 2.4rem;
  }
  .section-lunch span, .section-lunch-course span {
    font-size: 2rem;
  }
  .section-lunch-course__name {
    padding-right: 20px;
  }
  .section-lunch-course td {
    font-size: 2rem;
    line-height: 5rem;
  }
}
.move-button {
  padding-top: 30px;
}
.move-button-content {
  font-size: 1.4rem;
  color: #00453D;
  border: solid #00453D;
  border-radius: 30px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: inline-block;
}
@media(min-width:1040px) {
  .move-button {
    padding-top: 60px;
  }
  .move-button-content {
    font-size: 2.4rem;
    padding: 10px 35px;
  }
}
.bottom-slider img {
  width: 100%;
  height: auto;
}
.bottom-slider{
  padding: 50px 0;
}
.bottom-slider li:nth-child(even){
  padding-top: 30px;
}
.bottom-slider .slick-slide{
  margin: 0 10px;
}