@charset "UTF-8";
/* CSS Document */
.section-top {
  position: relative;
  line-height: 0;
}
.section-top h1 {
  padding-top: 100px;
  font-size: 2.2rem;
  color: #fff;
  writing-mode: vertical-rl;
  text-align: start;
  left: 50%;
  position: absolute;
}
.section-top__image {
  margin: 0 auto;
  background-image: url("top-image_reservation.jpg");
  background-size: auto 100%;
  height: 300px;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media(min-width:1040px) {
  .section-top {
    margin: 0 auto;
  }
  .section-top__image {
    background-size: 120%;
    height: 600px;
    background-position: 40% 90%;
  }
  .section-top h1 {
    font-size: 4.8rem;
    padding-top: 200px;
  }
}
.section-calendar img{
  width: 80%;
}
@media(min-width:1040px){
  .section-calendar img{
    max-width: 500px;
    padding: 30px;
  }
}
.section-greeting p{
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: left;
  padding: 20px;
    margin: 0 auto;
}
.section-greeting  span{
  font-size: 2rem;
}
@media(min-width:1040px){
  .section-greeting p{
    font-size: 2rem;
    line-height: 3rem;
    max-width:1040px;}
  .section-greeting span{
  font-size: 4rem;
}
}
.reservation-form{
  padding: 20px;
  text-align:left;
  margin: 0 auto;
}
.reservation-form__input,.reservation-form__check{
  margin-bottom: 30px;
}
.reservation-form__input p label{
  display: inline-block;
  width: 40%;
}
.reservation-form__input input{
  padding: 10px;
}
.reservation-form__policy-link{
  text-decoration: underline;
}
form p{
  margin: 0 auto 20px;
}
.inquiry-form__submit{
  font-size: 2rem;
  background-color: #00453d;
  padding: 5px 30px;
  border: none;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 20px auto;
}
@media(min-width:1040px){
  .reservation-form{
    max-width: 800px;
  padding: 30px;
  }
.inquiry-form__submit{
  font-size: 2rem;
}
  .reservation-form  p{
    font-size: 2rem;
  }
}