@charset "UTF-8";
/* CSS Document */
.section-top {
  position: relative;
  line-height: 0;
}
.section-top h1 {
  padding-top: 25%;
  font-size: 2.2rem;
  color: #fff;
  writing-mode: vertical-rl;
  text-align: start;
  left: 50%;
  position: absolute;
  letter-spacing: 5px;
}
.section-top__image {
  margin: 0 auto;
  background-image: url("img_store-information.jpg");
  background-size: auto 100%;
  height: 300px;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media(min-width:1040px) {
  .section-top {
    margin: 0 auto;
  }
  .section-top__image {
    background-size: 120%;
    height: 600px;
    background-position: 40% 90%;
  }
  .section-top h1 {
    font-size: 4.8rem;
  }
}
body h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #00453d;
}
.section-store-information {
  text-align: left;
  padding: 40px 20px 0;
  font-size: 1rem;
  border-spacing: 5px;
  display: inline-block;
  margin: 0 auto;
  line-height: 2.6rem;
}
.section-store-information__type {
  padding-right: 10px;
  color: #00453d;
  font-weight: 600;
}
@media(min-width:1040px) {
  body h2{
    font-size: 3.2rem;
  }
  .section-store-information {
    padding: 60px 40px;
    font-size: 2.4rem;
    line-height: 5.4rem;
  }
  .section-store-information__type {
    padding-right: 50px;
  }
}
.section-store-information__map {
  margin-top: 30px;
}
.section-store-information__map iframe {
  width: 100%;
  height: 100%;
  display: block;
}
@media(min-width:1040px) {
  .section-store-information__map {
    height: 500px;
    margin-top: 60px;
  }
}
.section-store-photo,.section-chef {
  padding: 40px 20px;
  margin: 0 auto;
}
.section-store-photo img,.section-chef img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  margin-bottom: 10px;
}
.section-store-photo p,.section-chef p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 10px;
}
.section-store-photo h3 {
  writing-mode: vertical-rl;
  text-align: start;
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: 600;
  margin: 0 auto;
}
.section-store-photo__exterior, .section-store-photo__interior {
  padding-top: 30px;
}
.section-store-photo__interior__sp-none {
  display: none;
}
.section-store-photo__interior h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
#section-store-photo__interior-table01 {
  margin-bottom: 10px;
}
.section-chef{
  padding-top: 0;
}
.section-chef h3{
  text-align: left;
  padding-left: 10px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.section-chef span{
  font-size: 1.4rem;
  text-align: right;
  display: block;
  padding-top: 10px;
}
@media(min-width:1040px) {
  .section-store-photo,.section-chef {
    margin-bottom: 60px;
  }
  .section-store-photo h3 {
    font-size: 2.4rem;
    line-height: 6rem;
    padding: 30px 0;
  }
  .section-store-photo__interior__pc-none {
    display: none;
  }
  .section-store-photo__interior__sp-none {
    display: block;
  }
  .section-store-photo,.section-chef {
    max-width: 1040px;
  }
  .section-store-photo__interior,.section-chef__flex {
    display: flex;
  }
  .section-store-photo__interior:last-child {
    flex-direction: row-reverse;
  }
  .section-store-photo__interior img,.section-chef img {
    width: 60%;
    margin-bottom: 0;
  }
  .section-store-photo__interior-table {
    display: flex;
    justify-content: space-between;
  }
  .section-store-photo__interior-table img {
    width: 49%;
  }
  #section-store-photo__interior-table01 {
    margin-bottom: 0;
  }
  #flex-none {
    display: block;
    margin: 30px 0;
  }
  .section-store-photo__interior h4 {
    font-size: 2.4rem;
    padding: 30px 0;
  }
  .section-store-photo p {
    text-align: left;
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 30px;
  }
  .section-store-photo__exterior, .section-store-photo__interior {
    padding-top: 60px;
  }
  .section-chef img{
    width: 50%;
  }
  .section-chef__greeting{
    padding: 30px;
  }
  .section-chef h3{
    font-size: 2.4rem;
    padding-left: 0;
  }
  .section-chef p{
    font-size: 2rem;
    line-height: 3rem;
    padding:20px 0;
  }
  .section-chef span{
    font-size: 2rem;
  }
  .section-chef__flex{
    padding-top: 30px;
  }
}
.move-button {
  font-size: 1.4rem;
  color: #00453D;
  border: solid #00453D;
  border-radius: 30px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: inline-block;
}
@media(min-width:1040px) {
  .move-button {
    font-size: 2.4rem;
    padding: 10px 35px;
  }
}