@charset "UTF-8";
/* CSS Document */
.section-top {
  position: relative;
  line-height: 0;
}
.section-top h1 {
  padding-top: 100px;
  font-size: 2.2rem;
  color: #fff;
  writing-mode: vertical-rl;
  text-align: start;
  left: 50%;
  position: absolute;
}
.section-top__image {
  margin: 0 auto;
  background-image: url("top-image_news.jpg");
  background-size: auto 100%;
  height: 300px;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media(min-width:1040px) {
  .section-top {
    margin: 0 auto;
  }
  .section-top__image {
    background-size: 120%;
    height: 600px;
    background-position: 40% 90%;
  }
  .section-top h1 {
    font-size: 4.8rem;
    padding-top: 200px;
  }
}
.section-news {
  padding: 40px 10px;
}
.section-news img {
  width: 30%;
  object-fit: cover;
  border: solid 1px #00453d;
}
.section-news li {
  margin-bottom: 20px;
}
.section-news li:last-child {
  margin-bottom: 40px;
}
.section-news ol li {
  padding: 0 30px;
}
.section-news ol li a {
  display: flex;
}
.section-news__sentence {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none;
  color: #333;
  padding-left: 10px;
}
.section-news__sentence h3 {
  color: #00453d;
}
.section-news__sentence p {
  padding-top: 5px;
}
.section-news__list {
  font-size: 1.4rem;
  color: #00453D;
  border: solid #00453D;
  border-radius: 30px;
  padding: 5px 20px;
}
@media(min-width:1040px) {
  .section-news img{
    width: 20%;
  }
  .section-news {
    max-width: 1040px;
    margin: 0 auto;
    padding: 100px 0;
  }
  .section-news li{
  margin-bottom: 80px;
  }
  .section-news__sentence {
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-left: 30px;
}
  .section-news__sentence h3{
    font-size: 3.6rem;
    padding: 20px 0;
  }
}
 .pagenation__list{
   display: flex;
   justify-content: center;
   padding: 0 20px;
  }
  .pagenation__list li a{
    color: #00453d;
    padding: 18px;
    max-width: none;
    max-height: none;
    font-size: 2rem;
    font-weight: 600;
  }
@media(min-width:1040px){
  .pagenation__list{
    margin-bottom: 100px;
  }
    .pagenation__list li a{
    font-size: 3.6rem;
  }
}